name: CI

on: [push]

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and publish Docker image
        if: github.ref == 'refs/heads/main'
        uses: elgohr/Publish-Docker-Github-Action@v5 # v4
        env:
          DYNAWO_VERSION: 1.4.0
        with:
          name: powsybl/java-dynawo
          username: powsyblci
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          buildargs: DYNAWO_VERSION
          tags: "1.4.0"
